<html>
<head><title>Dashboard Nutricionista | NutriTrack</title></head>
<body>
  <h1>Dashboard do Nutricionista</h1>
  <div id="grafico-pacientes">[Gráfico evolução pacientes]</div>
  <a href="/dietas/criar">Criar Dieta</a>
</body>
</html>