<html>
<head><title>Dashboard Paciente | NutriTrack</title></head>
<body>
  <h1>Dashboard do Paciente</h1>
  <div id="grafico-calorias">[Gráfico de calorias aqui]</div>
  <a href="/cumprimento/registo">Registar Cumprimento</a>
</body>
</html>